.image-container{
display: grid;
grid-template-columns: repeat(3,1fr);
flex-wrap: wrap;
column-gap: 5em;
row-gap: 8em;
align-items: center;
transition: transform 750ms;
will-change: transform;



}
.image-container:hover{
    transform: translateY(10px);

   


}
.nav{
    display: flex;
    gap: 6px;
}
.background{

}